logs
standalone_admin_password.txt
airflow.cfg
airflow_env
bash_scripts/credentials.sh
output.log
*.cfg
.DS_Store

# Example of ignoring all .log files except output.log
*.log


# Example of ignoring other common unwanted files or directories
# node_modules/
# *.pyc

